body {
	margin: 0px;
	font-family: Arial, "MS Trebuchet", sans-serif;
	/*background-image: url('../images/pbg.png');*/
	/*background-image: url('../images/table_back.png');*/
	background-color:  #EDF3F5;
	/*background-color: #F4F4F4;*/
}

#content {
	
}


.page_container {
	/*margin: 0px;
	padding: 0px;*/
	margin-top: -20px;
}

#content .side_bar #quick_buttons {
	margin-left: 30px;
}

#quick_buttons a {
	text-decoration : none;
}
#content .side_bar  #menu {
	margin: 0;
	padding: 0;
	/*background: #D9D9D9;*/
	margin-top: 50px;
	margin-left: 30px;
}

#content .side_bar  #menu li {
	list-style: none;
	padding: 0px 0px 12px 5px;
}

#content .side_bar  #menu li a{
	text-decoration : none;
	color: #665;
	padding-top: 2px;
	display: block;
	padding-left: 30px;
	height: 32px;
}

.widget_container .well{
	background:   url('../images/table_back.png') #FDFDFD;
	min-height: 600px;
	border: 1px solid #CCC;
}


#content .side_bar  #menu li a:hover { 
	cursor:  pointer;
	color: black;
}
#center_pane 
{	
	/*padding: 0px;
	float: left;
	overflow: hidden;*/
	background: white;
	margin-top: 20px;
	border : 1px solid #E5E5E5;
}

#content #right {
	width: 240px;
	/*border-left: 1px solid #DDD;*/
	position: absolute;
	right: 0px;
}

#content #left {
	float: left;
	width: 220px;
}


#projects {
	width: 200px;
	border: 1px solid #DDD;
	background: #EEE;
	float: left;
	/*border-left: 0px;*/
	border-bottom: 0px;
}


#top {
	color: white;
}
#top  a {
	color: white;
	text-decoration : none;
}

a.login_name {
	color: #2B4271 !important;
	font-weight: bold;
}

.list {
	
	
}

.list .new_todo_div
{
	margin-bottom: 10px;
}
.list .houser{
	padding: 7px;
	/*background: #F1F1F1;*/
	border: 1px solid #CCC;
	
}

.list .tasks_total ,.list .projects_total {
	margin-bottom: 10px;
	font-size: 13px;
	
}

.list .tasks_total .total , .list .projects_total .total{
	background : #3A87AD;
}

.list .projects_total .total{
	background : #F89406;		
}

.list #list-title {
	padding: 5px 15px;
	font-weight: bold;
	color: #5CAEE4;
	padding-bottom: 12px;
	font-size: 24px;
	font-family: sans-serif;
}


input[type='text'] {
	width: 98%;
	font-size: 18px;
	line-height: 30px;
	height: 30px;
}

.menu-item {	
	overflow: hidden;
	border-bottom: 1px solid #DDD;
	height: 65px;
}


.active  {
	/*background-color: #5CAEE4;*/
	/*border: 1px solid white;*/
}



.menu-item:hover { 
	background: #CCC;
	cursor: pointer;
}	



.menu-item .title{ 
	padding: 2px;
	text-decoration: none;
	/*color: #555;*/
	font-family: Arial;
	font-size: 12px;
	width: 95%;
	display: block;
}

.active  .title{
	color: white;
}

.list .edit {
	display: none;
}

.editing .edit{
	display: block;
}

.editing .view{
	display: none;
}

/**butons **/

.btn {
	cursor: pointer;
	display: inline-block;
	background-color: #E6E6E6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(white, white 25%, #E6E6E6);
	background-image: -moz-linear-gradient(top, white, white 25%, #E6E6E6);
	background-image: -ms-linear-gradient(white, white 25%, #E6E6E6);
	background-image: -o-linear-gradient(white, white 25%, #E6E6E6);
	background-image: linear-gradient(white, white 25%, #E6E6E6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 13px;
	line-height: normal;
	border: 1px solid #CCC;
	border-bottom-color: #BBB;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear all;
	-moz-transition: 0.1s linear all;
	-ms-transition: 0.1s linear all;
	-o-transition: 0.1s linear all;
	transition: 0.1s linear all;
}

.btn .primary {
	color: white;
	background-color: #0064CD;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049CDB), to(#0064CD));
	background-image: -moz-linear-gradient(top, #049CDB, #0064CD);
	background-image: -ms-linear-gradient(top, #049CDB, #0064CD);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049CDB), color-stop(100%, #0064CD));
	background-image: -webkit-linear-gradient(top, #049CDB, #0064CD);
	background-image: -o-linear-gradient(top, #049CDB, #0064CD);
	background-image: linear-gradient(top, #049CDB, #0064CD);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064CD #0064CD #003F81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.list .the-item {
	/*float: left;*/
	width: 100%;
}


.the-item .done {
	text-decoration : line-through;
}

.controls .edit_link {

}

.controls .delete_link {

}
.list .controls {
	font-size: 12px;
	padding: 12px;
	padding-bottom: 0px;
	display: none
}

.checkbox {
	float: left;
	margin-top: 13px;
	margin-left : 10px;
}


.task_info_panel .key{
	font-weight : bold;
}

.task_info_panel .value{
	font-style : italic;
}

.table thead {
	background: #CCC;
	background: -moz-linear-gradient(top, #EEE 0%, #CCC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEE), color-stop(100%,#CCC));
	background: -webkit-linear-gradient(top, #EEE 0%,#CCC 100%);
	background: -o-linear-gradient(top, #EEE 0%,#CCC 100%);
	background: -ms-linear-gradient(top, #EEE 0%,#CCC 100%);
	background: linear-gradient(top, #EEE 0%,#CCC 100%);
}

.projects_total .badge, .tasks_total .badge {
	margin-right: 5px;
}

.list .date_created {
	font-size: 12px;
	font-family: Arial;

}

.list .projects_total , .list .tasks_total{
	/*font-weight: bold;*/
	margin-top: 10px;
	color: #4E691F;
	float: left;
}

.hero-unit {
	margin-top : 20px;
	background : none;
	padding: 0px 20px;
	min-height: 640px;
}

.actions{
	background : none;
}

.list_view {
	padding-top: 20px;
	/*background-image: url('../images/pbg.png');*/
	/*background: url('../images/table_back.png') #292E34;*/
}

.list_view li{
	list-style: none;
	padding-top: 15px;
}

.list_view .accordion a{
	text-decoration : none;
	color: #2B4271;
	font-weight:bold;
	
}

.list_view .accordion .accordion-heading {
	background: #82A6CA;
}
.list_view .accordion .active-head a {
	color : white ;
}

.list_view .accordion .in 
.list_view .accordion .accordion-inner a{
	/*color: #08C;*/
	color : #888;
}

.list_view .accordion .accordion-inner {
	background: white
}

.list_view li i{
	padding-right : 5px;
}

.navbar-inner{
	background: #82A6CA;
}

.navbar.navbar-static.navbar_as_heading .navbar-inner{
	margin: -20px -20px 20px -20px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: #82A6CA;
}

.navbar.navbar-static.navbar_as_heading .navbar-inner .brand{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #EFEFEF;
	margin-top: 5px;
} 


.list .pagination {
	margin: 1px 0;
	float: right;
}

.list .pagination ul {
	background:  none;
	border :0px;
} 

.list .pagination li a{
	font-size: 11px;
	line-height: 26px;
}

.pagination a {
	border: 1px solid #AAA;
	border-left-width: 0;
	background: white;
	background: -moz-linear-gradient(top, white 0%, #CCC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#CCC));
	background: -webkit-linear-gradient(top, white 0%,#CCC 100%);
	background: -o-linear-gradient(top, white 0%,#CCC 100%);
	background: -ms-linear-gradient(top, white 0%,#CCC 100%);
	background: linear-gradient(top, white 0%,#CCC 100%);
}

#tasks_project_header {
	width: 80%;
	color: #333;
}

.pj_graphs .accordion-heading .accordion-toggle{
	background: #82A6CA;
	color: white;
	text-transform: uppercase;
}

.pj_graphs .accordion-heading a.accordion-toggle:hover {
	text-decoration: none;
}
footer {
	background: #82A6CA;
	color: white;
	padding: 10px 10px 4px;
}